body {
    font-family: Arial;
    background-color: #aeba41;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}

article {
    width: 450px;
    height: 75px;
    margin: 10px 10px 10px 10px;
    border: 1px solid #808080;
    border-radius: 100px;
    background-color: #5c8538;
    text-align: center;
    margin: auto;
}

a article:hover {
    background-color: #456f25;
    transition: 0,3s all;
}

#first a article:hover {
    background-color: #456f25;
    transition: 0,3s all;
}
